<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microblink.reactnative"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <application>
        <activity android:name="com.microblink.activity.DocumentScanActivity" android:noHistory="true" />
        <activity android:name="com.microblink.activity.DocumentVerificationActivity" android:noHistory="true" />
        <activity android:name="com.microblink.activity.BlinkIdActivity" android:noHistory="true" />
    </application>

</manifest>